# STX private key
SUPPLIER_STX_KEY=

# BTC private key (WIF format)
SUPPLIER_BTC_KEY=

# Network (mocknet, testnet, or mainnet)
SUPPLIER_NETWORK=testnet

# Operator ID (after registering in the magic contract)
SUPPLIER_ID=