:80 {
	basicauth {
		import /etc/caddy/password
	}

	handle_path /loki* {
		# reverse_proxy host.docker.internal:3100
		reverse_proxy {$LOKI_HOST} {
			header_up -Authorization
		}
	}

	handle_path /worker/* {
		reverse_proxy {$WORKER_HOST}
	}

	handle {
		reverse_proxy {$GRAFANA_HOST} {
			header_up -Authorization
		}
	}
}
